
header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
p {
	margin: 0;
}
.gridItem{
	text-align: left;
	background-color: white;
	margin: 5px;

}

.modal-content {
	color: black;
	line-height: 110%;
}

.gridItem {
	display: inline-block;
	box-sizing: border-box;
}

.gridItem img{
	max-width: 100%;
	display: center;
}

nav {
	padding-left: 30px;
	padding-right: 30px;
}

td a{
	color: black;
}

.tabs {
/*	background-color: black;*/
	}

.dropdown-content {
	width: 100px;
}
.header-img-container { 
    height: 200px; 
    width: 100%;
    overflow: hidden; 
}
#header-img{
	width: 100%;
}
.row {
	margin-bottom: 0px
}

.flex-container {
    display: -webkit-flex;
    display: flex;
}

.flex-item {
    /*margin: 10px;*/
}

.filter {
	display: flex;
	flex-direction: column;
	
}

/*/////////////////////*/

/*main color*/

nav {
	background-color: black;
}
/*tabs*/
	.tabs .tab a {
		color: black;
		}

	.tabs .indicator {
		background-color: black;
	}

	.btn-floating {
		background-color: black;
	}


/*search form*/
	/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }


/*accent colors*/

.tabs .tab a:hover {
	color: #828483;
	}	

.btn {
	background-color: #828483;
	border: solid #828483 1px;
}

.btn:hover{
	background-color: black;
	border: solid #828483 1px;
}

.btn-floating:hover {
		background-color: #828483;
	}

