
{% extends "create_base.html" %}
{% block content %}
    <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
    <script type="text/javascript" src="/static/filepicker.js"></script>

<div class="grey lighten-3" role="main">

    <div class="white container section center z-depth-1">
        <h1 class="grey-text text-darken-2" id="instructions">1. Upload Collection</h1>
        <div class="divider"></div>
        <div class="section"></div>

          <div class="file-field input-field" id="upload">
              <div class="row">
                <div class="col s4 offset-s4">
                  <form method="POST" action="{{ url_for('previewUpload') }}" id="filepicker">
                    <input type=filepicker data-fp-apikey="AwWNg6Ei3SHyfKegusrWIz" data-fp-extensions=".csv,.xls,.xlsx,.gsheet" data-fp-services="COMPUTER,GOOGLE_DRIVE" data-fp-maxFiles="1" onchange="storeFile()">
                  </form>
                </div>
              </div>
           </div>
        <div class="divider top-margin"></div>
        <p class="grey-text">Each column will be a header</p>
    </div>
    <div type="filepicker-preview" id="iframe" data-fp-url="https://www.filestackapi.com/api/file/S8O2rWoSFewERT8AfNxW" style="width:75%; height:450px"> </div>
    <div class="section">
        <a class="waves-effect waves-light red accent-2 btn right right-margin" href="{{ url_for('createSearch')}}">Next</a>
    </div>
</div>
<div class="section"></div>


 {% endblock %}

