<!DOCTYPE html> {% extends "create_base.html" %} {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/jquery.form-validator.min.js"></script>
<script type="text/javascript" src="/static/dynamic_form.js"></script>
<title>Bridge</title>
<script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
<script type="text/javascript" src="/javascript/appjs.js"></script>

<!--end pagination-->
<div class="grey lighten-2 full" role="main">
    <!--grey background at the back-->
    <!--begin intro section-->
    <div class="white container section z-depth-1">
        <h5 class="grey-text text-darken-2 center" id="instructions">2. Create Search Interface</h1>
        <h6 class="grey-text center">Go ahead and decide how people will search your collection</h6>
    <div class="section"></div>
        <!--divider-->
        <div class="divider"></div>

    <div class="section"></div>  
    <!--begin search form-->
        
<form action="/createSearch" method="post" id="createsearch">
<div class="row">
    <div class="col s4 offset-s1">
        <h5 class="blue-text">1. Page details</h5>
    </div>
</div>
<div class="row">
    <div class="input-field col s5 offset-s2">
        <input type="text" id="title" />
        <label for="title" class="grey-text validate">Enter title for collection (ex: GLBT Archives)</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s4 offset-s2">
        <textarea id="description" class="materialize-textarea"></textarea>
        <label for="description" class="grey-text validate">About your collection</label>
    </div>
</div>

<div class="divider"></div>

<div class="section"></div>
<div class="row">
    <div class="col s5 offset-s1">
        <h5 class="blue-text">2. Customize Search Interface</h5>
    </div>
</div>
<div class="row">
    <div class="col s4 offset-s2">
        {{ form.full_text_search() }} {{ form.full_text_search.label }}
        <p class="grey-text">Check this if you want a Google-like searchbox for your collection</p>

    </div>
    <div class="col s4">
        <input type="checkbox" id="customizeSearch" />
        <label for="customizeSearch" class="grey-text text-darken-2">Customize Search</label>
        <p class="grey-text">Check this if you want to customize search fields</p>
    </div>
</div>

<div id="customSearchOptions">
    <div class="section"></div>
    <div class="row" id="0">
        <div class="col s4 offset-s2">
            <div class="subtitle blue-text">Create Search Fields</div>
        </div>
    </div>
    {% for search_field in form.search_fields %}
    <div class="row animated fadeInUp searchField">
        <div class="input-field col s2 offset-s1">
            {{ search_field.fieldname }}
            <label for="searchFieldName">Search Field Name</label>
        </div>
        <div class="input-field col s2">
            {{ search_field.field_description }}
            <label for="searchFieldDescription">Description</label>
        </div>
        <div class="input-field col s3">
            {{search_field.header}}
        </div>
        <div class="input-field col s2">
            {{search_field.field_type}}
        </div>
        <div class="col s2">
            <a class="addButton btn-floating btn waves-effect waves-light red left-margin-big">
                <i class="material-icons">add</i>
            </a>
        </div>
        {{ search_field.csrf_token}} {% endfor %}
    </div>
    <div class="section"></div>
    <div class="section"></div>
    {{ form.csrf_token }}
    <div class="section"></div>
</div>
<div class="row">
    <div class="col s4 offset-s2">
        <div class="subtitle blue-text">Create Visualizations (optional)</div>
    </div>
    <div class="col s2">
        <div class="switch">
            <label>
                No
                <input type="checkbox" id="switch">
                <span class="lever"></span> Yes
            </label>
        </div>
    </div>
</div>

<div class="section"></div>
<div class="row animated fadeInUp" id="visualizations">
    <div class="col s3 offset-s2">
        <div class="row">
            <input name="viz" type="radio" id="linechart" />
            <label for="linechart" class="grey-text"><i class="fa fa-line-chart fa-2x icon_padding" aria-hidden="true"></i></label>
        </div>
        <div class="row">
            <p class="grey-text">Recommended for showing comparison
                <br> between categories</p>
        </div>
    </div>
    <div class="col s3">
        <div class="row">
            <input name="viz" type="radio" id="barchart" />
            <label for="barchart" class="grey-text"><i class="fa fa-bar-chart fa-2x icon_padding" aria-hidden="true"></i></label>
        </div>
        <div class="row">
            <p class="grey-text">Recommended for comparing two
                <br> or more categories</p>
        </div>
    </div>
    <div class="col s3">
        <div class="row">
            <input name="viz" type="radio" id="mapchart" />
            <label for="mapchart" class="grey-text"><i class="fa fa-globe fa-2x icon_padding" aria-hidden="true"></i>
            </label>
        </div>
        <div class="row">
            <p class="grey-text">Recommended for mapping entities</p>
        </div>
    </div>
    <div class="section"></div>
    <div class="section"></div>
    
</div>
<div class="divider"></div>

<div class="section"></div>
<div id="customizeStyle">
    <div class="section"></div>
    <div class="row">
        <div class="col s5 offset-s1">
            <h5 class="blue-text">3. Style your interface</h5>
        </div>
    </div>

    <div class="row">
        <div class="col s4 offset-s2">
            <div class="grey-text text-darken-2">a. Choose primary color
                <input id="primarycolor" type="color" class="none" value="#000000">
            </div>
        </div>
        <div class="col s4">
            <div class="grey-text text-darken-2">b. Choose accent color
                <input id="accentcolor" type="color" value="#cfd8dc">
            </div>
        </div>
    </div>
    <div class="section"></div>
    <div class="section grey lighten-5 card reducedwidth centered">
        <div class="row">
            <div class="col s4 offset-s4 center">
                <h6 class="subtitle blue-text">Upload Cover Photo:</h6>
            </div>
        </div>
        <div class="row">
            <div class="col s4 offset-s4">
                <div class="file-field input-field">
                    <div class="red accent-2 btn">
                        <span>File</span>
                        <input type="file" id="headerimage">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" id="headerimagetext">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="section"></div>
</form>
</div>
<div class="section"></div> 
    <div class="section">
      <a class="waves-effect waves-light red accent-2 btn blue-grey lighten-5 blue-text left left-margin" href="{{ url_for('createUpload')}}">Back</a>

     <a class="waves-effect waves-light red accent-2 btn right right-margin" onclick="$('form[id=createsearch]').submit()" id="next">Next</a>
    </div>

{% endblock %}