<!DOCTYPE html> {% extends "create_base.html" %} {% block content %}

<script type="text/javascript" src="//api.filestackapi.com/filestack.js">
</script>
<script type="text/javascript" src="/static/filepicker.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

<div class="grey lighten-2" role="main">

  <div class="white container section center z-depth-1">
    <h1 class="grey-text text-darken-2" id="instructions">1. Upload Collection</h1>
    <div class="divider"></div>
    <div class="section"></div>
          <div class="section ">
        <div class="row">
          <h5 class="blue-text">How to format your data</h5>
        </div>
        <div class="row animated fadeInUp">
          <p class='grey-text text-darken-2'>

            1. The first row of data will be used as your column headers <br>
            (You will be able to build customized search fields based on column headers)<br>
            2. You will have the option to create a visualization based on the columns</br>
            3. If you would like to add images, please add a column named <span class="teal-text">media</span> in your spreadsheet with complete url links to images<br>
            4. The first <span class="teal-text">5</span> columns will be displayed on your web interface</p>

          </div>
        </div>  

        <div class="file-field input-field grey lighten-5" id="upload">
            <div class="section">
                  <div class="section"></div>
                    <div class="section"></div>
                <div class="row">
                    <div class="col s4 offset-s4">
                        <form id="filepicker">
                            <input type="filepicker" data-fp-apikey="ApkpSbP55SmWAozdiWINKz" data-fp-extensions=".csv,.xls,.xlsx,.gsheet" data-fp-services="COMPUTER,GOOGLE_DRIVE" data-fp-maxFiles="1" onchange="storeFile()">

                        </form>
                    </div>
                </div>
                <div class="row">
                    <p class="grey-text text-darken-2 center">Accepted formats
                        <br>.csv, .xls, .xlsx, Google Spreadsheet</p>
                </div>
            </div>


      <div class="section"></div>

      </div>
      <h5 class="grey-text center">File Preview</h5>
      <div type="filepicker-preview" id="iframe" data-fp-url="https://www.filestackapi.com/api/file/S8O2rWoSFewERT8AfNxW" style="height:300px"> </div>
      <div class="section"></div>

    </div>
    <div class="section"></div>
    <div class="section"></div>
    <h5 class="grey-text center">Preview</h5>
    <div type="filepicker-preview" id="iframe" data-fp-url="https://www.filestackapi.com/api/file/S8O2rWoSFewERT8AfNxW" style="height:300px"> </div>
    <div class="section"></div>
    <div class="section"></div>
</div>

<div class="section"></div>
<div class="section">
    <a class="waves-effect waves-light red accent-2 btn blue-grey lighten-5 blue-text left left-margin" href="{{ url_for('main')}}">Back</a>

    <a class="waves-effect waves-light red accent-2 btn right right-margin" href="{{ url_for('createSearch')}}">Next</a>
</div>
</div>

{% endblock %}
