<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}

<body class="blue-grey lighten-5">

    <div class="row">
        <form id="login" class="col s4 offset-s4 card">
            <div class="col s12">
                <h3 class="smalltext center grey-text">LOGIN</h3>
            </div>
            <div class="input-field col s12">
                <input id="email" type="text" class="validate">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
            <div class="input-field col s6 offset-s4">
                <a class="waves-effect waves-light btn blue">Submit</a>
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div>
        </form>
    </div>


</body>

{% endblock %}