{% extends "base.html" %}
{% block content %}


    <div class="intro">
     <!-- {% if g.user.is_authenticated %}
        <span id="email">Logged in as {{ email }}</span>
        <div class="input-field col s6 offset-s4">
            <a class="waves-effect waves-light btn blue" id="logout" href="{{ url_for('log_out') }}">Log Out</a>
        </div>
      {% else %}
        <div class="input-field col s6 offset-s4">
          <a class="waves-effect waves-light btn blue" id="login" href="{{ url_for('log_in') }}">Log In</a>
        </div>
      {% endif %}-->

        <h1 class="intro blue-text center animated fadeInDown">
            Create a custom interface to share your data in minutes!
        </h1>
        <div class="row">
            <img class="animated fadeInDown intro" src="/static/files/brige-intro.png">
        </div>
        <div class="row animated fadeInDown">
            <div class="col s2 offset-s4">
                <a class="waves-effect waves-light red accent-2 white-text btn" href="{{ url_for('createUpload')}}"><i class="material-icons left">add</i>Create</a>
            </div>
            <div class="col s2">
                <a class="waves-effect waves-light blue-grey lighten-5 blue-text btn">Explore</a>
            </div>
        </div>
    </div>

{% endblock %}
