<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->

    <link rel="stylesheet" type="text/css" href="/static/custom.css" media="screen">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <!-- CM custom css -->

    <title> GET PAGE TITLE </title>

</head>

<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
  </script>

<body class="grey lighten-5">
    <!--navbar-->
    <div>
        <nav class="white">
            <div class="nav-wrapper">
                <a href="#" class="black-text brand-logo">GET PROJECT TITLE &amp; COLOR</a>
            </div>
        </nav>
    </div>
    <div class="row">
        <!-- GET HEADER IMAGE -->
        <img id="header" src="http://adicts.wapsite.me/1con/header/header_1.png">
    </div>
    <div class= "row">
      <div class= "row center">

        <div class="input-field col s12">
          <input placeholder="search any term" id="whole" type="text" class="validate">
          <label for="whole">Search the whole collection</label>
        </div>
        <br></br>

        If full text search, put it here plus the search button
        <div class= "row center">
          <a class="waves-effect waves-light btn">search</a>
        </div>
        
      </div>
<!-- for each search item, put them in  <div class="input-field col s6">here</div> -->

        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>


        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">Specimen Number</label>
        </div>

  <div class="input-field col s6">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
  </div>

        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">Specimen Number</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">Specimen Number</label>
        </div>
        <br></br>




   <div class= "row center col s12">
     <a class="waves-effect waves-light btn">search</a>
   </div>

  </div>


<footer class="page-footer blue">

          <div class="footer-copyright">
            <div class="container">
            This site is built using <a class="grey-text text-lighten-4"href="#">Bridge</a>
            <a class="grey-text text-lighten-4 right" href="#!">Build your own!</a>
            </div>
          </div>
        </footer>
            
</body>
</html>
